/*#test{
  width:500px;
  height:500px;
  position:fixed;
  bottom:10px;
  right:10px;
  background:black;
  color:white;
  padding:20px;
  font-size:30px;
}*/

.myButton{
  font-size:30px;
  border-radius:10px;
  border: none;
  padding: 10px;
  background: black;
  color:white;
}

#nameInput{
  color:red;
}

#nameInput::placeholder{
  color:blue
}


#canvas{
  background-color:#fafaf7;
  width:540px;
  height:800px;
  margin:auto;
  padding:20px;
  position:absolute;
  left:calc(50% - 250px);
  top:10px;
  box-shadow:10px 10px 6px #cccccc;
  font-family: sans-serif;
}

h1{
  margin:0px;
  font-weight:normal;
  letter-spacing:-0.8px;
  line-height:50px;
  font-size:50px;
  margin-bottom:30px;
}

.top{
  height:180px;
  border-bottom:1px solid black;
}

.bottom{
  width:500px;
  height: 500px;
  position:relative;
}

#circle{
  width:100%;
  height:100%;
  background-color:black;
  border-radius: 50%;
  top:20px;
  position: absolute;
  display:none;
}

#square{
  width:100%;
  height:100%;
  background-color:black;
  top:20px;
  position:absolute;
  display:none;
}

#diamond{
  width:70.71%;
  height:70.71%;
  top:calc(14.645% + 20px);
  left:14.645%;
  position:absolute;
  background-color:black;
  transform:  rotate(45deg);
  display:none;
}

#triangle{
  width: 0;
height: 0;
  top:20px;
  position:absolute;
border-style: solid;
border-width: 500px 0 0 500px ;
border-color: transparent transparent transparent black;
  display:none;
}

.colors div{
  width:20px;
  height:20px;
  border-radius:20px;
  display:inline-block;
}

.input[type="checkbox"]{
  margin-top:100px;
}

.yellow{background-color: #fcba03;}
.red{background-color: #63d647;}
.green{background-color: #d40000;}
.blue{background-color: #1500d4;}


#poster {
  width: 400px;
  height: 600px;
  position: relative;
  overflow: visible;
  margin: 20px auto;
}
#poster img {
  width: 160px;
  height: auto;
  position: absolute;
  opacity: 0.9;
}

#poster img.photo {
  right: -20px;
}
#poster img:nth-child(1) {
  top: 40%;
}
#poster img:nth-child(5) {
  top: 27%;
}
#poster img:nth-child(3), #poster img:nth-child(6) {
  bottom: 0;
}